@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-f: #fff;
  --white-f-50: #ffffff50;
  --black-0: #000;
  --primary: #edae00;
  --primary-darken: #b48400;
  --secondary: #edae00;

  --text-f: #fff;
  --text-primary: #ffc117;
  --text-02: #020205;

  --header: #000;

  /* Form */
  --form-inputColor: #edae00;
  --form-inputSelectedColor: rgb(10, 10, 10);
  --form-selectText: #9ca3af;

  --clr-1-red: 237;
  --clr-1-green: 174;
  --clr-1-blue: 0;
  --clr-2-opacity: 0.05;
  --clr-3-opacity: 0.01;
  --clr-1: rgb(var(--clr-1-red), var(--clr-1-green), var(--clr-1-blue));
  --clr-2: rgba(
    var(--clr-1-red),
    var(--clr-1-green),
    var(--clr-1-blue),
    var(--clr-2-opacity)
  );
  --clr-3: rgba(
    var(--clr-1-red),
    var(--clr-1-green),
    var(--clr-1-blue),
    var(--clr-3-opacity)
  );
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
}

/* - Header - */
.header {
  @apply grid grid-cols-4 bg-black justify-between items-center px-[3vw] py-[3vh] w-full z-10;
}

.logo_div {
  @apply flex justify-start items-center gap-x-3;
}

.logo {
  @apply w-10 h-10;
}

.logo_title {
  @apply text-xl text-white;
}

.navbar {
  @apply flex justify-center items-center gap-x-6 col-start-2 col-span-2;
}

.navItem {
  @apply text-lg text-[var(--text-f)] 2xl:text-xl transition duration-100 after:block after:h-[2px] after:bg-[var(--text-f)] after:w-full after:scale-x-0 after:hover:scale-x-110 after:transition after:duration-300 after:origin-center after:translate-y-px;
}

.contactButton {
  @apply text-right text-xl font-bold text-[var(--text-f)] bg-[var(--primary)] hover:bg-[var(--primary-darken)] border-2 border-transparent hover:border-[var(--primary)] shadow-[1px_2px_5px_#00000060] hover:shadow-[1px_2px_10px_#00000080] w-fit place-self-end px-4 py-2 rounded-3xl duration-200;
}

/* Inicio */
.inicio_div {
  @apply w-full h-[100vh] relative;
}

.inicio_section {
  @apply w-full h-[100vh] p-40 overflow-hidden relative flex flex-col justify-evenly items-center;
}

.inicio_background_image {
  @apply bg-contain bg-center absolute w-full aspect-video;
}

.inicio_filter {
  @apply w-full h-full absolute aspect-video bg-blue-500/10 shadow-custom-double;
}

.inicio_title {
  @apply text-[5vw] font-bold text-[var(--text-f)] drop-shadow-[0_0_2px_#000];
}

.inicio_subtitle {
  @apply text-[3vw] font-semibold text-[var(--text-primary)] -translate-y-6 mx-auto text-center;
}

.inicio_buttons_div {
  @apply flex flex-col gap-y-10;
}

.inicio_button1 {
  @apply bg-[var(--primary)] text-lg rounded-md w-[14vw] h-[6vh] border border-transparent text-black hover:text-white hover:bg-[var(--primary-darken)] duration-300 shadow-[0_5px_15px_-7px_var(--primary)] hover:shadow-[0_5px_20px_0px_var(--primary-darken)];
}

.inicio_button2 {
  @apply border border-white/70 text-lg rounded-md w-[14vw] h-[6vh] text-white/70 hover:text-[var(--text-f)] hover:border-[var(--white-f)] duration-300 shadow-[0_5px_30px_-5px_var(--white-f-50)] hover:shadow-[0_5px_20px_-7px_var(--white-f)];
}

/* Serviços */
.servicos_section {
  .servicos_content {
    @apply w-full h-full grid justify-center items-center grid-cols-2 grid-rows-6 relative my-32;
  }
  .servicos_modelo {
    @apply w-[90%] h-[90%] min-h-[25vh] flex justify-center items-center text-3xl text-white bg-[#000] relative;
  }

  .servicos_modelo:nth-child(odd) {
    @apply justify-end col-start-1 rounded-r-2xl;
    &::before,
    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 7px;
      left: 7px;
      border-radius: 16px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      background: conic-gradient(
        from 90deg,
        var(--clr-1),
        var(--clr-2),
        var(--clr-3),
        var(--clr-2),
        var(--clr-1)
      );
    }
  }
}

.servicos_modelo:nth-child(even) {
  @apply justify-start col-start-2 rounded-l-2xl;

  &::before,
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: -7px;
    left: -7px;
    border-radius: 16px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: conic-gradient(
      from 270deg,
      var(--clr-1),
      var(--clr-2),
      var(--clr-3),
      var(--clr-2),
      var(--clr-1)
    );
  }
}
.servicos_modelo:nth-child(odd) {
  @apply justify-end col-start-1 rounded-r-2xl;
}

h4 {
  @apply px-8;
}

.servicos_section {
  @apply w-full h-[100%] flex flex-col justify-evenly items-center;

  h3 {
    @apply my-32 text-5xl;
  }

  .servicos_div {
    @apply w-[calc(100%-200px)] h-fit grid grid-cols-2 grid-rows-2 justify-center items-center gap-y-24;
  }

  & .servicos_div_item:nth-child(even) {
    @apply flex justify-start items-center w-full h-full;
  }

  & .servicos_div_item:nth-child(odd) {
    @apply flex justify-end items-center w-full h-full;
  }

  & .servicos_span_white {
    @apply bg-transparent;
  }
  & .servicos_span {
    @apply bg-[#202020] w-[75%] h-40;
  }
  & .servicos_span_big {
    @apply bg-[#202020] w-[100%] h-40;
  }
}

.servicos_div_item:nth-child(even) .servicos_span {
  @apply flex justify-end items-center text-white text-3xl pr-8 bg-red-700;
}

.servicos_div_item:nth-child(odd) .servicos_span {
  @apply flex justify-start items-center text-white text-3xl pl-8;
}

.servicos_introduction {
  @apply flex justify-center items-center w-full h-full my-24 drop-shadow-[0_0_30px_#200020aa];
}

.servicos_logo {
  @apply w-[720px] aspect-square absolute z-10;
}

/* Sobre  */
.sobre_section {
  @apply text-[#000] w-full h-full flex flex-col justify-start items-center;

  & .sobre_div_title {
    @apply text-6xl font-bold w-full h-72 text-center p-8 flex justify-center items-end;
  }
}

.sobre_div_content {
  @apply w-[55%] flex flex-col gap-y-10 justify-center items-center p-8;

  & .sobre_texto1 {
    @apply h-full text-xl font-light flex justify-center items-center py-16;

    & p {
      @apply px-4;
    }

    & h4 {
      @apply p-8 text-4xl font-medium;
    }

    & .sobre_image {
      @apply rounded-2xl shadow-[3px_5px_15px_#30003080];
    }
  }

  & .sobre_dados_bg {
    @apply w-[100vw] h-96 bg-black -z-10;
  }

  & .sobre_dados {
    @apply flex justify-center gap-x-36 items-center w-full my-12;

    & div {
      @apply flex flex-col justify-center items-center gap-y-4 text-xl text-[var(--primary)] font-light;
    }

    & h5 {
      @apply text-3xl text-[var(--primary-darken)];
    }
  }

  & .sobre_texto2 {
    @apply h-full font-light flex flex-col justify-center items-start bg-white py-16;

    & h4 {
      @apply p-8 text-4xl font-medium;
    }

    & ul {
      @apply px-4 list-disc text-xl;
    }
  }
}

.sobre_dado_span {
  @apply rounded-full w-[10vw] aspect-square relative flex justify-center items-center bg-black;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.sobre_dado_span::before,
.sobre_dado_span::after {
  @apply rounded-full w-[100%] aspect-square absolute;
  content: "";
  z-index: -1;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-2),
    var(--clr-1)
  );
  animation: spin 6s linear infinite;
  border-radius: 50%;
}

/* Contato */
.contato_section {
  @apply flex justify-center items-center w-full h-full overflow-hidden;
}

.contato_bg_image {
  @apply absolute bg-contain -z-50 aspect-square;
}

.contato_filter {
  @apply w-full h-full absolute aspect-video bg-blue-500/10 shadow-custom-double;
}

.contato_informations {
  @apply bg-[#101010] grid grid-rows-3 border border-black/50 border-r-0 justify-between items-start w-[calc(25%+100px)] h-2/3 p-12 gap-y-4 rounded-l-2xl z-10 relative;

  & h3 {
    @apply text-[1.5vw] text-white max-w-full whitespace-nowrap;
  }

  & p {
    @apply text-[1.05vw] text-white max-w-full whitespace-nowrap;
  }

  & p strong {
    @apply text-[var(--primary)];
  }
}

.contato_informations span {
  @apply text-white/70 h-full w-full flex justify-center items-center text-3xl row-start-2;
}

.contato_midia {
  @apply w-full h-full flex justify-start gap-x-2 items-end;
}

.contato_midia {
  transition: all 0.5s;
  fill: #ccc;

  & svg:nth-child(1):hover {
    fill: #25de66;
    transition: 0.5s all;
  }
  & svg:nth-child(2):hover {
    fill: #3b5998;
    transition: 0.5s all;
  }
}

.contato_logo {
  @apply object-contain w-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10;
}

.contato_form {
  @apply w-[calc(30%+50px)] h-2/3 flex flex-col gap-y-10 justify-center items-center rounded-r-2xl px-24 z-10 border border-black/50 border-l-0 backdrop-blur;
}

.contato_smaller_form {
  @apply flex justify-between items-center;
}

.contato_smaller_form input {
  @apply w-[calc(45%)] bg-[#101010] text-white px-4 py-2 rounded-lg outline-none duration-300 shadow-[3px_4px_10px_#00000050];
}

.contato_form input {
  @apply w-[calc(100%)] bg-[#101010] text-white px-4 py-2 rounded-lg outline-none duration-300 shadow-[3px_4px_10px_#00000050];
  /* @apply w-[calc(100%-80px)] px-4 py-2 bg-[var(--text-f)] text-[var(--text-f)] rounded-lg text-lg outline-none duration-300 shadow-[0_4px_10px_rgba(0,0,0,.5)] focus:bg-[var(--form-inputColor)] focus:text-[var(--text-light)] focus:shadow-[0_4px_10px_rgba(94,0,218,.55)]; */
}

.contato_form textarea {
  @apply w-[calc(100%)] bg-[#101010] text-white h-32 px-4 py-2 rounded-lg outline-none resize-none;
}

.contato_submit {
  @apply bg-[var(--primary)] w-[calc(100%)] px-4 py-2 rounded-lg hover:text-[var(--primary)] hover:bg-[#101010] duration-500;
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: auto;
  scrollbar-color: #323232 #0a0a0a;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
  background-color: #323232;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
