@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-f: #fff;
  --white-f-50: #ffffff50;
  --black-0: #000;
  --primary: #edae00;
  --primary-darken: #b48400;
  --secondary: #edae00;

  --text-f: #fff;
  --text-primary: #ffc117;
  --text-02: #020205;

  --header: #000;

  /* Form */
  --form-inputColor: #edae00;
  --form-inputSelectedColor: rgb(10, 10, 10);
  --form-selectText: #9ca3af;
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
}

/* - Header - */
.header {
  @apply grid grid-cols-4 justify-between items-center px-[3vw] py-[3vh] fixed w-full bg-transparent z-10;
}

.logo_div {
  @apply flex justify-start items-center gap-x-3;
}

.logo {
  @apply w-10 h-10;
}

.logo_title {
  @apply text-xl text-white;
}

.navbar {
  @apply flex justify-center items-center gap-x-6 col-start-2 col-span-2;
}

.navItem {
  @apply text-lg text-[var(--text-f)] 2xl:text-xl transition duration-100 after:block after:h-[2px] after:bg-[var(--text-f)] after:w-full after:scale-x-0 after:hover:scale-x-110 after:transition after:duration-300 after:origin-center after:translate-y-px;
}

.contactButton {
  @apply text-right text-xl font-bold text-[var(--text-f)] bg-[var(--primary)] hover:bg-[var(--primary-darken)] border-2 border-transparent hover:border-[var(--primary)] shadow-[1px_2px_5px_#00000060] hover:shadow-[1px_2px_10px_#00000080] w-fit place-self-end px-4 py-2 rounded-3xl duration-200;
}

/* Inicio */
.inicio_div {
  @apply w-full h-[100vh] relative;
}

.inicio_section {
  @apply w-full h-[100vh] p-40 overflow-hidden relative flex flex-col justify-evenly items-center;
}

.inicio_background_image {
  @apply bg-contain bg-center absolute h-[100vh];
}

.inicio_filter {
  @apply w-full h-full absolute aspect-video bg-blue-500/10 shadow-custom-double;
}

.inicio_title {
  @apply text-[5vw] font-bold text-[var(--text-f)] drop-shadow-[0_0_2px_#000];
}

.inicio_subtitle {
  @apply text-[3vw] font-semibold text-[var(--text-primary)] -translate-y-6 mx-auto text-center;
}

.inicio_buttons_div {
  @apply flex flex-col gap-y-10;
}

.inicio_button1 {
  @apply bg-[var(--primary)] text-lg rounded-md w-[14vw] h-[6vh] border border-transparent text-black hover:text-white hover:bg-[var(--primary-darken)] duration-300 shadow-[0_5px_15px_-7px_var(--primary)] hover:shadow-[0_5px_20px_0px_var(--primary-darken)];
}

.inicio_button2 {
  @apply border border-white/70 text-lg rounded-md w-[14vw] h-[6vh] text-white/70 hover:text-[var(--text-f)] hover:border-[var(--white-f)] duration-300 shadow-[0_5px_30px_-5px_var(--white-f-50)] hover:shadow-[0_5px_20px_-7px_var(--white-f)];
}

/* Serviços */
.servicos_section {
  @apply flex justify-center items-center;
}

/* Sobre  */
.sobre_section {
  @apply bg-[#aaa] w-full h-full flex justify-center items-center;
}

.sobre_background_image {
  @apply bg-contain bg-bottom absolute h-[100vh];
}

.sobre_filter {
  @apply w-full h-full absolute aspect-video bg-yellow-500/10 shadow-custom-double;
}

.sobre_div {
  @apply w-1/2 bg-white/50 z-10 flex flex-col gap-y-10 justify-center items-center;

  & p,
  ul {
    @apply text-white;
  }

  & ul {
    @apply list-disc ;
  }
}

/* Contato */
.contato_section {
  @apply flex justify-center items-center w-full h-full overflow-hidden;
}

.contato_bg_image {
  @apply absolute bg-contain -z-50;
}

.contato_filter {
  @apply w-full h-full absolute aspect-video bg-blue-500/10 shadow-custom-double;
}

.contato_informations {
  @apply bg-[#101010] flex flex-col border border-black/50 border-r-0 justify-between items-start w-1/4 h-2/3 p-12 gap-y-4 rounded-l-2xl z-10 relative;

  & h3 {
    @apply text-2xl text-white;
  }

  & p {
    @apply text-lg text-white;
  }

  & p strong {
    @apply text-[var(--primary)];
  }
}

.contato_informations span {
  @apply text-white/70 text-3xl absolute top-1/2 -translate-y-1/2;
}

.contato_midia {
  @apply w-full flex justify-start gap-x-2 items-center;
}

.contato_midia {
  transition: all 0.5s;
  fill: #ccc;

  & svg:nth-child(1):hover {
    fill: #25de66;
    transition: 0.5s all;
  }
  & svg:nth-child(2):hover {
    fill: #3b5998;
    transition: 0.5s all;
  }
}

.contato_logo {
  @apply object-contain w-[90%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10;
}

.contato_form {
  @apply w-1/3 h-2/3 flex flex-col gap-y-10 justify-center items-center rounded-r-2xl px-24 z-10 border border-black/50 border-l-0 backdrop-blur;
}

.contato_smaller_form {
  @apply flex justify-between items-center;
}

.contato_smaller_form input {
  @apply w-[calc(45%)] bg-[#101010] text-white px-4 py-2 rounded-lg outline-none duration-300 shadow-[3px_4px_10px_#00000050];
}

.contato_form input {
  @apply w-[calc(100%)] bg-[#101010] text-white px-4 py-2 rounded-lg outline-none duration-300 shadow-[3px_4px_10px_#00000050];
  /* @apply w-[calc(100%-80px)] px-4 py-2 bg-[var(--text-f)] text-[var(--text-f)] rounded-lg text-lg outline-none duration-300 shadow-[0_4px_10px_rgba(0,0,0,.5)] focus:bg-[var(--form-inputColor)] focus:text-[var(--text-light)] focus:shadow-[0_4px_10px_rgba(94,0,218,.55)]; */
}

.contato_form textarea {
  @apply w-[calc(100%)] bg-[#101010] text-white h-32 px-4 py-2 rounded-lg outline-none resize-none;
}

.contato_submit {
  @apply bg-[var(--primary)] w-[calc(100%)] px-4 py-2 rounded-lg hover:text-[var(--primary)] hover:bg-[#101010] duration-500;
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: auto;
  scrollbar-color: #323232 #0a0a0a;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
  background-color: #323232;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
